<!-- Sidebar -->
<div class="col-md-12">
    <a class="logo-wrapper waves-effect">
        <!-- <img src="assets/img/logo.png" class="img-fluid" alt=""> -->
    </a>
    <div class="list-group list-group-flush">
         <a routerLink="/allClient" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect"><i class="fas fa-male"></i>Clients</a>  
       <a routerLink="/users" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect"><i class="fas fa-users"></i> Users</a> 
       <a routerLink="/booking" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect"><i class="fas fa-clipboard-list"></i>All Booking</a> 
       <a routerLink="/category" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect"><i class="fas fa-list-alt"></i>Category</a> 
       
    </div>
</div>