<!--Main Navigation-->
<header>
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">
        <div class="col-sm-12 d-flex align-items-center justify-content-between">
            <a href="javascript:void(0);" id="sidenav" class="text-dark"><i class="fas fa-bars"></i></a>
            <a (click)="logout()" class="navbar-brand" href="javascript:void()">
                <i class="fa fa-sign-out" aria-hidden="true"></i><strong>Log Out</strong>
            </a>
        </div>
    </mdb-navbar>
</header>
